.container {
  background-color: ghostwhite;
  margin-bottom: 20px;
  margin-top: 20px;
}

h1, h2, h3, h4 { 
  color: #2c3e50;
}

.grid-1 {
  background-color: #1abc9c;
}
.grid-2 {
  background-color: #957bbe;
}
.grid-3 {
  background-color: #80bdff;
}
